.FCselect
{   
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
    cursor: pointer;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.767);

}
.FCselect:hover
{
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.39); 
    
}
.FCbtn
{
    background: transparent;
    display: inline-block;
    margin: 5px;
    border-radius: 10%;
    outline: none;
    border:none;
    cursor: pointer;
    transition: 0.1s;
   
}
.FCbtn:hover{
    transform: scale(1.1);
}