@import './auxiliar/constants/themes/constants.css';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/backgroundP.jpg);
    background-size: 100vw 1000px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(52, 126, 129, 0.753);
  }