.orderBkg{
    background-color: #fcdae7;
    display: flex;
    min-height: 100vh;
}

.sideBar{
    display: flex; 
    flex-direction: column;
    background-color: white;
    height: 100%;
    margin: 0px;
    padding: 20px 15px;
    position: fixed;
    box-shadow: 5px 0px 8px #88888865;

}

.sideBarContainer{
    min-width: 400px;
    height: 100%;
}