.Container{
    width: 100%;
    max-width: 100%;
    column-count: 4;
    column-gap: 1%;
}

@media (max-width: 1024px) {
    .Container{
        column-count: 3;
    }    
} 

@media (max-width: 767px) {
    .Container{
        column-count: 1;
    }
}

